{% extends 'base.html.twig' %}

{% block title %}Externatic{% endblock %}

{% block body %}
    <main class="landing" {{ stimulus_controller('favoriteoffer') }}>
        <div class="research container-fluid">
            <div class="container text-center searchBar p-4">
                <h1 class="text-light text-uppercase font-weight-bold">
                    Trouvez un poste qui vous correspond !
                </h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn px-5 mb-2" type="submit">C'est parti !</button>
                {{ form_end(form) }}
                <div class="cards-result container-fluid-md d-flex flex-column flex-md-row justify-content-around align-items-center">
                    {% for annonce in annoncesLandingPage %}
                        {% include '_include/_card_result.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center"><h3 class="ms-3 mt-3">Inscrivez vous pour accéder à <span class="text-primary fw-bold">tous nos services</span></h3></div>
        <article class="landing-article d-flex flex-column flex-md-row justify-content-around align-items-center services">
            <div class="card text-black bg-light mb-3 mx-3 mt-3 my-5">
                <div class="card-body">
                    <h4 class="card-title fs-5 fw-bolder text-primary text-decoration-underline">Inscrivez-vous</h4>
                    <p class="card-text bg-light">Et tous nos services seront disponibles directement
                    même si vous êtes sans le sous</p>
                </div>
            </div>
            <div class="card text-black bg-light mb-3 mx-3 mt-3 my-5">
                <div class="card-body">
                    <h4 class="card-title fs-5 fw-bolder text-primary text-decoration-underline">Postulez facilement</h4>
                    <p class="card-text bg-light">En quelques clics nos meilleurs consultants seront disponibles
                    pour vous accompagner au mieux dans votre recherche d'emploi</p>
                </div>
            </div>
            <div class="card text-black bg-light mb-3 mt-3 mx-3 my-5">
                <div class="card-body">
                    <h4 class="card-title fs-5 fw-bolder text-primary text-decoration-underline">Plein d'Entreprise</h4>
                    <p class="card-text bg-light">Sont disponible et n'attendent que vous dans leurs équipes. En passant de
                    Cdiscount ou des Start-Ups plus modestes, vous trouverez forcément votre bonheur chez nous !</p>
                </div>
            </div>
        </article>


        <div class="d-flex justify-content-center"><h3 class="ms-3 mt-4 "><span class="text-primary font-italic fw-bold">Externatic</span> en chiffre c'est</h3></div>
        <article class="desc-number d-flex justify-content-around mt-4 pb-5">
            <div class="d-flex flex-column align-items-center">
                <img src="{{ asset('build/images/batiment.png') }}" alt="photo of an enterprise">
                <p class="fs-1 m-0"><strong>{{ nbCompany[0][1] }}</strong></p>
                <p class="text-center fs-3 mb-0">Entreprises inscrites</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img src="{{ asset('build/images/silhouettes.png') }}" alt="photo of three person">
                <p class="fs-1 m-0"><strong>{{ nbCandidat[0][1] }}</strong></p>
                <p class="text-center fs-3 mb-0">Candidats inscrits</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img src="{{ asset('build/images/mallette.png') }}" alt="photo of a mallete">
                <p class="fs-1 mb-0"><strong>{{ nbAnnonce[0][1] }}</strong></p>
                <p class="text-center fs-3 mb-0">Offres d'emplois</p>
            </div>
        </article>
    </main>
{% endblock %}
