{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <main class="loginForm container-md">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Inscrivez-vous :</h1>

        {{ form_start(registrationForm) }}


        {{ form_row(registrationForm.email, {
            label: 'Email',
            attr: {
                placeholder: 'john@doe.fr'
            },
            row_attr: {
                class: 'form-floating mb-3'
            }
        }) }}

        {{ form_row(registrationForm.firstname, {
            label: 'Prénom',
            attr: {
                placeholder: 'John'
            },
            row_attr: {
                class: 'form-floating mb-3'
            }
        }) }}


        {{ form_row(registrationForm.lastname, {
            label: 'Nom',
            attr: {
                placeholder: 'Doe'
            },
            row_attr: {
                class: 'form-floating mb-3'
            }
        }) }}

        {{ form_row(registrationForm.phone, {
            label: 'Numéro de téléphone',
            attr: {
                placeholder: '+33...'
            },
            row_attr: {
                class: 'form-floating mb-3'
            }
        }) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            attr: {
                placeholder: 'password'
            },
            row_attr: {
                class: 'form-floating mb-3'
            }
        }) }}


        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}

    </main>


{% endblock %}
