{{ form_start(certificationForm) }}

        {{ form_row(certificationForm.title, {
            label: 'Nom de la certification',
            attr: {
                placeholder: 'Nom de la certification'
            },
            row_attr: {
                class: 'form-floating mb-3'
            }
        }) }}

        {{ form_row(certificationForm.year, {
            label: 'Année d\'obtention',
            attr: {
                placeholder: '01/01/1990'
            },
            row_attr: {
                class: 'form-floating mb-3'
            }
        }) }}

        {{ form_row(certificationForm.link, {
            label: 'Lien de l\'organisme',
            attr: {
                placeholder: 'http://'
            },
            row_attr: {
                class: 'form-floating mb-3'
            }
        }) }}

        {{ form_row(certificationForm.description, {
            label: 'Description de la formation',
            attr: {
                placeholder: 'Notions abordées...'
            },
            row_attr: {
                class: 'form-floating mb-3'
            }
        }) }}

    <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(certificationForm) }}
