{% extends 'base.html.twig' %}

{% block title %}Mes certifications{% endblock %}

{% block body %}

    <main class="searchProfile container-md mb-5">
        <h1 class="text-center mt-3">Mes Certifications</h1>

        <div class="row showCard certification">
            {% for certification in certifications %}
                <div class="col-sm-4">
                    <div class="card mb-5">
                        <div class="cardIcons">
                            <a href="{{ path('app_certification_edit', {id: certification.id}) }}"><i
                                    class="bi bi-pencil-square"></i></a>
                            {{ include('certification/_delete_form.html.twig') }}
                        </div>
                        <div class="card-header">
                            <h5 class="card-title">{{ certification.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Obtention : {{ certification.year ? certification.year|date('Y-m-d') : '' }}
                            </h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Lien : {{ certification.link }}</li>
                            <li class="list-group-item">Description : {{ certification.description }}</li>
                        </ul>
                    </div>
                </div>
            {% else %}

                <div class="oups">
                    <img src="{{ asset('build/images/oups.jpg') }}" alt="illustration page vide"/>
                    <p>
                        Oh ! Il semblerait qu'il n'y ait encore rien ici !
                        <br>
                        Sauvegarde tes recherches et elles apparaîtront ici.
                    </p>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="{{ path('app_candidat_profile') }}#certificationPanel">Retour au profil</a>
        </div>



    </main>
{% endblock %}
