{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Ajouter une annonce {% endblock %}

{% block body %}
    <div class="annonce-title">
        <h1>
            Ajouter une annonce
        </h1>
    </div>

    <div class="form-annonce">

        {{ form_start(form) }}
        {{ form_widget(form) }}

{#        {{ form_row(form.title, {#}
{#            label: 'Titre',#}
{#            attr: {placeholder: 'oui'},#}
{#            row_attr: {class: 'form-floating mb-3'}#}
{#        } ) }}#}

{#        {{ form_row(form.salary, {#}
{#            label: 'Salaire',#}
{#            attr: {placeholder: 'oui'},#}
{#            row_attr: {class: 'form-floating mb-3'}#}
{#        }) }}#}

{#        {{ form_row(form.contractType, {#}
{#            label: 'Type de contrat (ex:Alternance, CDI, etc...)',#}
{#            attr: {placeholder: 'oui'},#}
{#            row_attr: { class: 'form-floating mb-3'}#}
{#        }) }}#}

{#        {{ form_row(form.studyLevel, {#}
{#            label: 'Niveau d\'étude',#}
{#            attr: {placeholder: 'oui'},#}
{#            row_attr: {class: 'form-floating mb-3'}#}
{#        }) }}#}

{#        {{ form_row(form.workTime, {#}
{#            label: 'Durée',#}
{#            attr: { placeholder: 'oui'},#}
{#            row_attr: { class: 'form-floating mb-3'}#}
{#        }) }}#}
{#        {{ form_row(form.company, {#}
{#            label: 'Entreprise',#}
{#            attr: { placeholder : 'oui'},#}
{#            row_attr: { class: 'form-floating mb-3' }#}
{#        }) }}#}
{#        {{ form_row(form.createdAt, {#}
{#            label: 'Date de création',#}
{#            attr: { placeholder : 'oui'},#}
{#            row_attr: { class: 'form-floating mb-3' }#}
{#        }) }}#}
{#        {{ form_row(form.endingAt, {#}
{#            label: 'Date d\'éxpiration',#}
{#            attr: { placeholder : 'oui'},#}
{#            row_attr: { class: 'form-floating mb-3' }#}
{#        }) }}#}
{#        {{ form_row(form.techno, {#}
{#            label: 'Hard Skills',#}
{#            attr: { placeholder : 'oui'},#}
{#            row_attr: { class: 'form-floating mb-3' }#}
{#        }) }}#}
{#        {{ form_row(form.author, {#}
{#            label: 'Consultant',#}
{#            attr: { placeholder : 'oui'},#}
{#            row_attr: { class: 'form-floating mb-3' }#}
{#        }) }}#}

        <div class="btn"><button class="btn">{{ button_label|default('Mettre l\'annonce en ligne') }}</button></div>
        {{ form_end(form) }}
    </div>

{% endblock %}

