{% extends 'base.html.twig' %}

{% block body %}


    <main class="show_annonce container-lg" {{ stimulus_controller('favoriteoffer') }}>
        <div class="d-flex justify-content-start">
            <a class="retour-bouton btn btn-primary m-2 ms-md-5" href="{{ path("annonce_search_results") }}">Retours aux offres</a>
        </div>
        <div class="d-flex" {{ stimulus_controller('heartcompany') }}>
            <img src="{{ vich_uploader_asset(annonce.company) }}" alt="logo de l'entreprise" class="ms-5 logo">
            <div class="w-100 d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center">
                    <p class="postele text-secondary text-decoration-none created_at d-flex align-items-end m-0">
                        <span class="text-secondary text-decoration-none">Posté le {{ annonce.createdAt|date('d-m-Y') }}  </span>
                        {% if is_granted('ROLE_CONSULTANT') %}
                             | <a class="text-decoration-none mx-1" href="{{  path('annonce_edit', { "id": annonce.id }) }}">Editer</a>
                        {% endif %}
                    </p>
                </div>
                <h1 class="mt-2"><strong>{{ annonce.title }}</strong></h1>
                <div class="d-flex justify-content-center">
                    <a href="{{ path('app_company_show', {'id': annonce.company.id}) }}">
                        <h2 class="name_company text-primary d-inline-block align-items-center m-0 mx-2 mt-1">
                            {{ annonce.company.name }}
                        </h2>
                    </a>


                    {% if is_granted("ROLE_CANDIDAT") %}
                        <a href="{{ path('app_company_add_favorite', {id: annonce.company.id}) }}" id="fav-company" class="fav-icon mt-1">
                            <i class="bi {{ app.user.candidat.isCompanyFavorite(annonce.company) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
                        </a>
                    {% endif %}
                    {% if is_granted("ROLE_CANDIDAT") %}
                        <a href="{{ path('annonce_add_favorite', {id: annonce.id}) }}" class="fav-offer btn btn-primary fav-button bis">
                            <i class="bi {{ app.user.candidat.isInFavorite(annonce) ? 'bi-bookmark-fill' : 'bi-bookmark' }}"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start mb-5 me-3">
            <div class="tech d-inline-block mt-2">
                <ul class="ms-1 p-2 mt-2 pb-2">
                    {% for tech in annonce.techno %}
                        <li class="mb-3 d-flex align-items-center">
                            <img src="{{ asset('/uploads/images/logo/' ~ tech.picture) }}"
                                 alt="image de {{ tech.name }}"
                                 class="image_techno">
                            <p class="d-inline-block techno-name ms-2">{{ tech.name }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="d-flex flex-column all_info mt-3">
                <div class="header_info">
                    <p class="mb-1"><strong>{{ annonce.company.city|upper }}</strong> - {{ annonce.company.zipCode }}
                        , {{ annonce.company.address }}
                    </p>
                    <p> {{ annonce.salaryMin }}€ à {{ annonce.salaryMax }}€ </p>
                    <p>{{ annonce.contractType }}, {{ annonce.studyLevel }} </p>
                    <p>Durée du contrat
                        : {{ annonce.contractDuration|date("%Y") != 0 ? (annonce.contractDuration|date("%y an(s)")) : "" }} {{ annonce.contractDuration|date("%M") != 0 ? (annonce.contractDuration|date("%M Mois")) : "" }} {{ annonce.contractDuration|date("%D") != 0 ? (annonce.contractDuration|date("%D jour(s)")) : "" }}</p>
                    <p>Temps de travail : {{ annonce.workTime|date("%h") != 0 ? (annonce.workTime|date("%hh")) : "" }}{{ annonce.workTime|date("%i") != 0 ? (annonce.workTime|date("%i")) : "" }}</p>
                </div>

                <div>
                    <h2 class="h2-info">Description du poste</h2>
                    {{ annonce.Description|raw }}
                </div>
                <div class="mt-4">
                    {% if annonce.optionalInfo != null %}
                        <h2 class="h2-info">Information complémentaire</h2>
                        {{ annonce.optionalInfo }}
                    {% endif %}
                </div>
                <div class="mt-4">
                    <h2 class="h2-info">Description de l'entreprise</h2>
                    {{ annonce.company.information }}
                </div>
            </div>
        </div>

        <div class="accordion container mb-5" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button d-inline text-center" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Postuler
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if is_granted("ROLE_CANDIDAT") %}
                            {% if recruProcessActuel == null %}
                                {{ form(form) }}
                            {% else %}
                                <p>Vous avez déjà un processus de recrutement en cours pour cette annonce.</p>
                            {% endif %}
                        {% elseif is_granted("ROLE_CONSULTANT") %}
                            <p>Encart réservé aux candidats - <a href="{{ path('consultant_board') }}">Retourner à votre
                                    tableau de bord</a></p>
                        {% else %}
                            <p> Pour postuler, <a href="{{ path('app_login') }}"> connectez-vous</a> ou <a href="{{ path('app_register') }}"> créez un compte </a> </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


    </main>
{% endblock %}
