{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}

    <main class="adminIndex">
        <div class="head">
            <h1>Liste des Entreprises. Total : {{ companies.getTotalItemCount }}</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit">Go !</button>
            {{ form_end(form) }}

        </div>

        <table class="table">
            <thead>
            <tr>
                {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(companies, 'Id', 'c.id') }}</th>
                <th{% if companies.isSorted('c.logo') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(companies, 'Logo', 'c.logo') }}
                </th>
                <th{% if companies.isSorted('c.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(companies, 'Nom', 'c.name') }}
                </th>
                <th{% if companies.isSorted('u.lastName') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(companies, 'Consultant', 'u.lastName') }}
                </th>
                <th{% if companies.isSorted('c.address') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(companies, 'Adresse', 'c.address') }}
                </th>
                <th{% if companies.isSorted('c.zipCode') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(companies, 'Code Postal', 'c.zipCode') }}
                </th>
                <th{% if companies.isSorted('c.city') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(companies, 'Ville', 'c.city') }}
                </th>
                <th{% if companies.isSorted('c.phoneNumber') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(companies, 'Téléphone', 'c.phoneNumber') }}
                </th>
                <th{% if companies.isSorted('c.contactName') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(companies, 'Contact', 'c.contactName') }}
                </th>
                <th{% if companies.isSorted('c.isActive') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(companies, 'Actif', 'c.isActive') }}
                </th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td><img src="{{ vich_uploader_asset(company) }}" alt="{{ company.name }}">
                    </td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.externaticConsultant.user.firstName }} {{ company.externaticConsultant.user.lastName }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.zipCode }}</td>
                    <td>{{ company.city }}</td>
                    <td>{{ company.phoneNumber }}</td>
                    <td>{{ company.contactName }}</td>
                    <td>{{ company.isActive ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a href="{{ path('admin_app_company_show', {'id': company.id}) }}">Voir</a> {{ include('admin/company/_delete_form.html.twig') }}<br>
                        <a href="{{ path('admin_app_company_edit', {'id': company.id}) }}">Modifier</a><br>
                        {% if company.isActive %}
                            <a href="{{ path('admin_app_company_disable', {'id': company.id}) }}">Désactiver</a>
                            {% else %}
                                <a href="{{ path('admin_app_company_enable', {'id': company.id}) }}">Activer</a>

                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container d-flex justify-content-center">{{ knp_pagination_render(companies) }}</div>

        <div class="addBtn">
            <a class="btn btn-primary" href="{{ path('admin_app_company_new') }}">Ajouter une Entreprise</a>
        </div>

    </main>
{% endblock %}
