{% extends 'base.html.twig' %}

{% block title %}SearchProfile index{% endblock %}

{% block body %}

    <main>
        <h1>Mes recherches</h1>


        <table class="table">
            <thead>
            <tr>
                <th>Recherche</th>
                <th>Remote</th>
                <th>Temps de travail</th>
                <th>Ancienneté</th>
                <th>Entreprise</th>
                <th>Salaire Minimum</th>
                <th>Type de Contrat</th>
                <th>Techno</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for search_profile in app.user.candidat.searchProfiles %}

                <tr>
                    <td>{{ search_profile.searchQuery|json_encode }}</td>
                    <td>{{ search_profile.searchQuery.remote ? 'Yes' : 'No' }}</td>
                    <td>{{ search_profile.searchQuery.workTime }}</td>
                    <td>{{ search_profile.searchQuery.period }}</td>
                    <td>{{ search_profile.searchQuery.company }}</td>
                    <td>{{ search_profile.searchQuery.salaryMin }}</td>
                    <td>
                        {% for contract in search_profile.searchQuery.contractType %}
                            <span>{{ contract }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% for technoId in search_profile.searchQuery.techno %}
{#                            @todo make custom twig filter ex: {{ technoId|technoName }}#}
{#                            https://symfony.com/doc/current/templating/twig_extension.html#}
                            <span>{{ technoId }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('annonce_search_results', {'form': search_profile.searchQuery}) }}">show</a>
                        {{ include('search_profile/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <a href="{{ path('app_search_profile_new') }}">Create new</a>
    </main>
{% endblock %}
