{% extends 'base.html.twig' %}

{% block title %}SearchProfile index{% endblock %}

{% block body %}

    <main>
        <h1>Mes recherches</h1>


        <table class="table">
            <thead>
            <tr>
                <th>Recherche</th>
                <th>Remote</th>
                <th>Temps de travail</th>
                <th>Ancienneté</th>
                <th>Entreprise</th>
                <th>Salaire Minimum</th>
                <th>Type de Contrat</th>
                <th>Techno</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for search_profile in searchProfiles %}

                <tr>
                    <td>{{ queries[loop.index].searchQuery }}</td>
                    <td>{{ queries[loop.index].remote ? 'Yes' : 'No' }}</td>
                    <td>{{ queries[loop.index].workTime }}</td>
                    <td>{{ queries[loop.index].period }}</td>
                    <td>{{ queries[loop.index].company }}</td>
                    <td>{{ queries[loop.index].salaryMin }}</td>
                    <td>
                        {% for contract in queries[loop.index].contractType %}
                            <span>{{ contract }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% for name in queries[loop.index].techno %}
                            <span>{{ name }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('app_search_profile_show', {'id': search_profile.id}) }}">show</a>
                        {{ include('search_profile/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <a href="{{ path('app_search_profile_new') }}">Create new</a>
    </main>
{% endblock %}
