{% extends 'base.html.twig' %}

{% block title %}Techno{% endblock %}

{% block body %}
    <h1>Techno</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ techno.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ techno.name }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ techno.picture }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ techno.updatedAt ? techno.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_techno_index') }}">back to list</a>

    <a href="{{ path('app_techno_edit', {'id': techno.id}) }}">edit</a>

    {{ include('techno/_delete_form.html.twig') }}
{% endblock %}
