{% extends 'base.html.twig' %}

{% block title %}Vos annonces{% endblock %}

{% block body %}
    <main class="consultantAnnonces">
        <div class="d-flex flex-column align-items-center" data-controller="publiStatus">
            <h1>Annonces en cours</h1>
            <small><a href="{{ path('consultant_annonces_archives') }}">Accès aux archives</a></small>
        </div>
        <div class="sorting">
            <p>{{ knp_pagination_sortable(annonces, 'Date de creation', 'a.createdAt') }}</p>
            <p{% if annonces.isSorted('a.endingAt') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(annonces, 'Date de fin', 'a.endingAt') }}
            </p>
            <p{% if annonces.isSorted('c.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(annonces, 'Entreprise', 'c.name') }}
            </p>
        </div>


        {% for annonce in annonces %}
            <article class="m-3 p-2">
                <div class="accordion container rounded-1" id="accordionExample-{{ loop.index }}">
                    {% if date(annonce.endingAt) <= date() %}
                        <div class="d-flex justify-content-center font-italic bg-warning">
                            <div class="font-italic text-muted">Annonce trop ancienne -</div>
                            <div><a href="{{ path('annonce_edit', {"id": annonce.id}) }}"> Changer la date de fin</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="d-flex justify-content-between">
                        <div><img src="{{ annonce.picture }}" alt="logo of an enterprise"/> {{ annonce.company.name }}
                        </div>
                        <div>
                            <a href="{{ path('annonce_show', {"id": annonce.id}) }}"><strong>{{ annonce.title }}</strong></a>
                            <small>-
                                jusqu'au {{ annonce.endingAt|format_datetime('full', 'none', locale='fr') }}</small>
                        </div>
                        <div>créée {{ annonce.createdAt|date("d-m-y") }} - <a
                                href="{{ path('annonce_edit', {"id": annonce.id}) }}">edit</a></div>
                        <span class="form-check form-switch">
                            <input data-annonce="{{ annonce.id }}" class="annonceSwiper form-check-input"
                                   type="checkbox" role="switch"
                                   id={{ annonce.publicationStatus==1 ? "flexSwitchCheckChecked" ~ annonce.id  : "flexSwitchCheckDefault" ~ annonce.id }} checked={{ annonce.publicationStatus==1 ? "true" : "false" }}>
                    <label class="form-check-label"
                           for={{ annonce.publicationStatus==0 ? "flexSwitchCheckChecked" ~ annonce.id  : "flexSwitchCheckDefault" ~ annonce.id }}></label>
                    </span>
                    </div>
                </div>
                {% include('_include/_annonceExternaticItem.html.twig') %}
            </article>        {% endfor %}
        <div class="container d-flex justify-content-center">{{ knp_pagination_render(annonces) }}</div>
    </main>
{% endblock %}
