{% extends 'base.html.twig' %}

{% block title %}Vos annonces{% endblock %}

{% block body %}
    <main class="consultantAnnonces">
        <div class="d-flex flex-column align-items-center" {{ stimulus_controller('publiStatus') }}><h1>Annonces
                archivées</h1> <small><a href="{{ path('consultant_annonces') }}">retour aux annonces</small></div>
        {% for annonce in annonces %}
            <article class="m-3 p-2">
                <div class="accordion container" id="accordionExample-{{ loop.index }}">
                    <div class="d-flex justify-content-between">
                        <div><img src="{{ annonce.picture }}" alt="logo of an enterprise"/> {{ annonce.company.name }}
                        </div>
                        <div>
                            <a href="{{ path('annonce_show', {"id": annonce.id}) }}"><strong>{{ annonce.title }}</strong></a><small>-
                                terminée depuis
                                le {{ annonce.endingAt|format_datetime('full', 'none', locale='fr') }}</small></div>
                        <div>créée {{ annonce.createdAt|date("d-m-y") }}</div>
                        <span class="form-check form-switch annonceSwiper">
                                <input data-annonce="{{ annonce.id }}" class="annonceSwiper form-check-input"
                                       type="checkbox" role="switch"
                                       id={{ annonce.publicationStatus==1 ? "flexSwitchCheckChecked" ~ annonce.id : "flexSwitchCheckDefault" ~ annonce.id }}>
                                <label class="form-check-label"
                                       for={{ annonce.publicationStatus ? "flexSwitchCheckChecked" ~ annonce.id  : "flexSwitchCheckDefault" ~ annonce.id }}></label>
                        </span>
                    </div>
                </div>
                {% include('_include/_annonceExternaticItem.html.twig') %}
            </article>
        {% endfor %}
        <div class="container d-flex justify-content-center">{{ knp_pagination_render(annonces) }}</div>
    </main>
{% endblock %}
