<article class="cardResult bg-light border-1 m-1">
    <div class="cardHeader d-flex justify-content-between p-2">
        <img class="p-1 align-self-center rounded-1" src="{{ annonce.picture }}"
             alt="logo of {{ annonce.company.name }}"/>
        <div class="d-flex flex-column align-items-center mt-2">
            <h3 class="cardTitle text-start text-center">{{ annonce.title }}</h3>
            <div class="annonceInfos">
                <small class="text-center">{{ annonce.company.name }}</small>
                <small class="text-center">{{ annonce.createdAt|date("d/m/Y") }}</small>
            </div>
        </div>
        {% if is_granted("ROLE_CANDIDAT") %}
            <a href="{{ path('annonce_add_favorite', {id: annonce.id}) }}" class="fav-offer fav-icon mt-2">
                <i class="bi {{ app.user.candidat.isInFavorite(annonce) ? 'bi-bookmark-fill' : 'bi-bookmark' }}"></i>
            </a>
        {% endif %}
    </div>
    <div class="row row-cols-2 m-2">
        <p class="rounded-1 bg-primary p-1 d-flex align-items-center justify-content-center">
            {% if annonce.remote %} Remote authorisé {% else %} présentiel {% endif %}</p>
        <p class="rounded-1 bg-primary p-1 d-flex align-items-center justify-content-center">{{ annonce.contractType }}</p>
        <p class="rounded-1 bg-primary p-1 d-flex align-items-center justify-content-center">Heure de
            travail: {{ annonce.workTime }}h</p>
        <p class="rounded-1 bg-primary p-1 d-flex align-items-center justify-content-center">Niveau
            d'étude: {{ annonce.studyLevel }}</p>
        <p class="rounded-1 bg-primary p-1 d-flex align-items-center justify-content-center third-line">{{ annonce.salaryMin }}
            € à {{ annonce.salaryMax }} €</p>
        <p class="rounded-1 bg-primary p-1 d-flex align-items-center justify-content-center third-line">
            {% if annonce.techno|length >= 6 %}
                {% for i in 0..5 %}
                    {{ annonce.techno[i].name }},
                {% endfor %}
                ...
            {% else %}
                {% for techno in annonce.techno %}
                    {{ techno.name }},
                {% endfor %}
            {% endif %}
        </p>
    </div>
    <a class="clickable-article" href="{{ path('annonce_show', {id: annonce.id}) }}"></a>
</article>
