<article class="cardResult bg-light border-1 mt-1 ms-1 me-1">
    <div class="cardHeader d-flex justify-content-between p-2">
        <img class="p-1 align-self-center rounded-1" src="{{ vich_uploader_asset(annonce.company) }}"
             alt="logo of {{ annonce.company.name }}">
        <div class="d-flex flex-column align-items-center mt-2">
            <h3 class="cardTitle text-start text-center">{{ annonce.title }}</h3>
            <div class="annonceInfos">
                <small class="text-center">{{ annonce.company.name }}</small>
                <small class="text-center"> - postée le {{ annonce.createdAt|date("d/m/Y") }}</small>
            </div>
        </div>
        {% if is_granted("ROLE_CANDIDAT") %}
            <a href="{{ path('annonce_add_favorite', {id: annonce.id}) }}" class="fav-offer fav-icon mt-2">
                <i class="bi {{ app.user.candidat.isInFavorite(annonce) ? 'bi-bookmark-fill' : 'bi-bookmark' }}"></i>
            </a>
        {% else %}
            <div class="fav-icon"></div>
        {% endif %}
    </div>
    <div class="row row-cols-2 m-2 cases">
        <p class="rounded-2 p-1 d-flex align-items-center justify-content-center">
            {% if annonce.remote %} Remote {% else %} Présentiel {% endif %}</p>
        <p class="rounded-2 p-1 d-flex align-items-center justify-content-center">{{ annonce.contractType }}</p>
        <p class="rounded-2 p-1 d-flex align-items-center justify-content-center">
            {{ annonce.workTime|date("%h") != 0 ? (annonce.workTime|date("%hh")) : "" }}/hebdo</p>
        <p class="rounded-2 p-1 d-flex align-items-center justify-content-center"> {{ annonce.studyLevel }}</p>
        <p class="rounded-2 p-1 d-flex align-items-center justify-content-center third-line">{{ annonce.salaryMin }}
            € {{ annonce.salaryMax ? "à " ~ annonce.salaryMax ~ " €" }}</p>
        <p class="rounded-2 p-1 d-flex align-items-center justify-content-center third-line">
            {% if annonce.techno|length >= 4 %}
                {% for i in 0..3 %}
                    {{ annonce.techno[i].name }},
                {% endfor %}
                ...
            {% else %}
                {% for techno in annonce.techno %}
                    {{ techno.name }},
                {% endfor %}
            {% endif %}
        </p>
    </div>
    <a class="clickable-article" href="{{ path('annonce_show', {id: annonce.id}) }}"></a>
</article>
