{% if is_granted('ROLE_CANDIDAT') %}
    {% set isRead = message.recruitmentProcess.readByCandidat %}
{% else %}
    {% set isRead = message.recruitmentProcess.readByConsultant %}
{% endif %}

<tr data-messageId="{{ message.recruitmentProcess.id }}" class="messageHeader {{ isRead ? 'isRead' : "isUnread" }}">
    <td class="col-3">{{ message.sendBy.lastName|upper }} {{ message.sendBy.firstname|capitalize }}</td>
    <td class="col-3">{{ message.recruitmentProcess.annonce.title ?: message.recruitmentProcess.company.name ?: "" }}</td>
    <td class="messageContent col-6 contentMessage text-muted">{{ message.content|striptags|raw }}</td>
</tr>
