{% if is_granted('ROLE_CANDIDAT') %}
    {% set isRead = message.recruitmentProcess.readByCandidat %}
{% else %}
    {% set isRead = message.recruitmentProcess.readByConsultant %}
{% endif %}

<tr data-messageId="{{ message.recruitmentProcess.id }}" class="messageHeader {{ isRead ? 'isRead' : "isUnread" }}">
    <td class="col-2" data-action="click->inbox#openMessage">{{ message.date|format_datetime('short', 'short', locale='fr') }}</td>
    <td class="col-2" data-action="click->inbox#openMessage">{{ message.sendBy.lastName|upper }} {{ message.sendBy.firstname|capitalize }}</td>
    <td class="col-2" data-action="click->inbox#openMessage">{{ message.recruitmentProcess.annonce.title ?: message.recruitmentProcess.company.name ?: "" }}</td>
    <td class="col-5 contentMessage text-muted"data-action="click->inbox#openMessage">{{ message.content|striptags|raw }}</td>
    <td>
        <button data-action="inbox#archive" data-messageId="{{ message.recruitmentProcess.id }}" type="submit" class="btn btn-read">
            <i {{ isRead ? "class='bi bi-envelope' title='Marquer non-lu'" : "class='bi bi-envelope-open' title='Marquer lu'" }}>
            </i>
        </button>
    </td>
    <td>
        <button data-action="inbox#delete" data-messageId="{{ message.recruitmentProcess.id }}" type="submit" class="btn btn-del"><i class="bi bi-trash3-fill" title="supprimer/archiver" ></i></button>
    </td>
</tr>


