{% if is_granted([ROLE_CANDIDAT]) %}
    {% set isRead = message.recruitmentProcess.readByCandidat %}
{% else %}
    {% set isRead = message.recruitmentProcess.readByConsultant %}
{% endif %}

<tr data-messageId="{{ message.recruitmentProcess.id }}" class="messageHeader table-hover {{ isRead ? 'bg-white' : 'bg-light' }}">
    <td class="col-2 {{ isRead ? '' : 'text-primary fw-bolder' }}">{{ message.date|format_datetime('short', 'short', locale='fr') }}</td>
    <td class="col-2 {{ isRead ? '' : 'text-primary fw-bolder' }}">{{ message.sendBy.lastName|upper }} {{ message.sendBy.firstname|capitalize }}</td>
    <td class="col-2 {{ isRead ? '' : 'text-primary fw-bolder' }}">{{ message.recruitmentProcess.annonce.title ?: message.recruitmentProcess.company.name ?: "" }}</td>
    <td class="col-5 contentMessage font-italic text-muted {{ isRead ? "" : 'text-primary' }}">{{ message.content|striptags|raw }}</td>
</tr>


