<nav class="navbar bg-light fixed-top">
    <div class="container-fluid d-flex">

        <button class="border-0 navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" >
            <span class="navbar-toggler-icon"></span>
        </button>

        <img class="logo d-none d-md-block" src="{{ asset('build/images/externatic.png') }}" alt="logo externatic"/>
        <img class="logo d-initial d-md-none" src="{{ asset('build/images/logo-petit.png') }}" alt="logo externatic"/>

        {% if app.user %}
            <div>
                {{ app.user.firstname }}
                <a class="connexion navbar-brand" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>

        {% else %}
            <a class="connexion navbar-brand" href="{{ path('app_login') }}">Connexion</a>
        {% endif %}

        <div class="offcanvas offcanvas-start bg-primary text-light text-uppercase shadow-sm" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-light text-uppercase" id="offcanvasScrollingLabel">
                    Bonjour {{ app.user ? app.user.firstname : '' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% if is_granted("ROLE_CANDIDAT") %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{  path('app_candidat_profile') }}">Mon Compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{  path('search_results') }}">Rechercher une offre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Annonces sauvegardées</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{  path('app_candidat_complete') }}">Compléter mon profil candidat</a>
                        </li>
                    {% elseif is_granted("ROLE_CONSULTANT") %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">PLACEHOLDER 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PLACEHOLDER 2</a>
                        </li>
                    {% elseif is_granted("ROLE_ADMIN") %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">PLACEHOLDER 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PLACEHOLDER 2</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{  path('app_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{  path('app_register') }}">S'inscrire</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="blank"></div>
