<nav class="navbar bg-light fixed-top">
    <div class="container-fluid d-flex">

        <button class="border-0 navbar-toggler " type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="d-none d-md-block" href="/"><img class="logo" src="{{ asset('build/images/externatic.png') }}"
                                                   alt="logo externatic"></a>
        <a class="d-initial d-md-none" href="/"><img class="logo d-initial d-md-none"
                                                     src="{{ asset('build/images/logo-petit.png') }}"
                                                     alt="logo externatic"></a>

        {% if app.user %}
            <div>
                <a class="d-inline-block me-1 text-dark bell-href" href="{{ path('notif_show') }}">
                    {% if app.user.hasNotifUnread == true %}
                        <span class="dot"></span>
                    {% endif %}
                    <i class="bi bi-bell"></i>
                </a>
                {% if is_granted("ROLE_CANDIDAT") %}
                    <a class="d-none d-md-inline userName"
                       href="{{ path('app_candidat_profile') }}">{{ app.user.firstname }}</a>
                    <a class="connexion navbar-brand" href="{{ path('app_logout') }}">Déconnexion</a>
                {% elseif is_granted("ROLE_CONSULTANT") %}
                    <a class="d-none d-md-inline userName"
                       href={{ path('consultant_board') }}>{{ app.user.firstname }}</a>
                    <a class="connexion navbar-brand" href="{{ path('app_logout') }}">Déconnexion</a>
                {% elseif is_granted("ROLE_ADMIN") %}
                    <a class="d-none d-md-inline userName"
                       href="{{ path('consultant_board') }}">{{ app.user.firstname }}</a>
                    <a class="connexion navbar-brand" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a class="connexion navbar-brand" href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
            </div>
        {% else %}
            <a class="connexion navbar-brand" href="{{ path('app_login') }}">Connexion</a>
        {% endif %}

        <div class="navPannel offcanvas offcanvas-start bg-primary text-light text-uppercase shadow-sm"
             data-bs-scroll="true"
             data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-light text-uppercase" id="offcanvasScrollingLabel">
                    Bonjour {{ app.user ? app.user.firstname : '' }}
                </h5>
                <button type="button" class="btn-close close-cross" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% if is_granted("ROLE_CANDIDAT") %}
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('app_candidat_profile') ? "active" : "" }}" href="{{ path('app_candidat_profile') }}">Mon Compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('app_candidat_complete') ? "active" : "" }}" href="{{ path('app_candidat_complete') }}">Compléter mon profil
                                candidat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('annonce_search_results') ? "active" : "" }}" href="{{ path('annonce_search_results') }}">Rechercher une offre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('message_index') ? "active" : "" }}" href="{{ path('message_index') }}">Messagerie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('annonce_show_favorite') ? "active" : "" }}" href="{{ path('annonce_show_favorite') }}">Mes Annonces</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('app_company_show_favorite') ? "active" : "" }}" href="{{ path('app_company_show_favorite') }}">Mes entreprises</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('app_search_profile_index') ? "active" : "" }}" href="{{ path('app_search_profile_index') }}">Mes recherches
                                sauvegardées</a>
                        </li>

                    {% elseif is_granted("ROLE_CONSULTANT") %}
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('consultant_board') ? "active" : "" }}" href="{{ path('consultant_board') }}">Tableau de bord</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('message_index') ? "active" : "" }}" href="{{ path('message_index') }}">Messagerie</a>
                        </li>
                        <li class="nav-item">
                            <details open>
                                <summary><a class="nav-link d-inline {{ app.request.pathInfo == path('consultant_annonces') ? "active" : "" }}" href="{{ path('consultant_annonces') }}">Mes
                                        Annonces</a></summary>
                                <ul class="subGroup justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item">
                                        <a class="nav-link {{ app.request.pathInfo == path('annonce_new') ? "active" : "" }}" href="{{ path('annonce_new') }}">Ajouter une offre</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {{ app.request.pathInfo == path('consultant_annonces_archives') ? "active" : "" }}"
                                           href="{{ path('consultant_annonces_archives') }}">Archives</a>
                                    </li>
                                </ul>
                            </details>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('consultant_synthesis') ? "active" : "" }}" href="{{ path('consultant_synthesis') }}">Mes processus de
                                recrutements</a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                            <details>
                                <summary><span class="text-center badge text-bg-info">Fonctions Admin</span>
                                </summary>
                                <ul class="subGroup justify-content-end flex-grow-1 pe-3">

                                <li class="nav-item">
                                    <a class="nav-link {{ app.request.pathInfo == path('admin_app_company_new') ? "active" : "" }}" href="{{ path('admin_app_company_new') }}">Ajouter une
                                        entreprise</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{ app.request.pathInfo == path('admin_app_consultant_new') ? "active" : "" }}" href="{{ path('admin_app_consultant_new') }}">Ajouter un
                                        consultant</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{ app.request.pathInfo == path('admin_app_company_switch') ? "active" : "" }}" href="{{ path('admin_app_company_switch') }}">Switch
                                        Entreprise</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{ app.request.pathInfo == path('admin_app_candidat_index') ? "active" : "" }}" href="{{ path('admin_app_candidat_index') }}">Base Candidats</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{ app.request.pathInfo == path('admin_app_consultant_index') ? "active" : "" }}" href="{{ path('admin_app_consultant_index') }}">Base
                                        Recruteurs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{ app.request.pathInfo == path('admin_app_company_index') ? "active" : "" }}" href="{{ path('admin_app_company_index') }}">Base
                                        Entreprises</a>
                                </li>
                                    <li class="nav-item">
                                        <a class="nav-link {{ app.request.pathInfo == path('admin_app_techno_index') ? "active" : "" }}" href="{{ path('admin_app_techno_index') }}">Base
                                            Technos</a>
                                    </li>
                            </ul>
                            </details>
                        {% endif %}

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('app_login') ? "active" : "" }}" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathInfo == path('app_register') ? "active" : "" }}" href="{{ path('app_register') }}">S'inscrire</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="blank"></div>
