{% extends 'base.html.twig' %}

{% block title %}Liste des Profils Candidats{% endblock %}

{% block body %}
    <h1>Liste des Profils Candidats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Age</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>ZipCode</th>
                <th>Address</th>
                <th>City</th>
                <th>GitHub</th>
                <th>LinkedIn</th>
                <th>IsActive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.age }}</td>
                <td>{{ candidat.user.firstname }}</td>
                <td>{{ candidat.user.lastName }}</td>
                <td>{{ candidat.zipCode }}</td>
                <td>{{ candidat.address }}</td>
                <td>{{ candidat.city }}</td>
                <td>{{ candidat.github }}</td>
                <td>{{ candidat.linkedIn }}</td>
                <td>{{ candidat.user.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_app_candidat_show', {'id': candidat.id}) }}">Show</a><br>
                    <a href="{{ path('admin_app_candidat_edit', {'id': candidat.id}) }}">Edit info pro</a><br>
                    <a href="{{ path('admin_app_user_edit', {'id': candidat.user.id}) }}">Edit info perso</a><br>
                    {{ include('admin/candidat/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
