{% extends 'base.html.twig' %}

{% block title %}Fiche Candidat{% endblock %}

{% block body %}
    <main class="container-md mb-5">
        <h1 class="text-center">Fiche Candidat</h1>
        <div class="showCard">
            <div class="card mb-5">
                <div class="card-body">
                    <h3 class="card-title">{{ candidat.user.firstname }} {{ candidat.user.lastName }}</h3>
                    <p class="card-text">{{ candidat.description }}</p>
                    {{ include('admin/candidat/_delete_form.html.twig') }}
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <p>Age</p>
                        <p>{{ candidat.age }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Téléphone</p>
                        <p>{{ candidat.user.phone }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Email</p>
                        <p>{{ candidat.user.email }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Adresse</p>
                        <p>{{ candidat.address }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Code Postal</p>
                        <p>{{ candidat.zipCode }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Ville</p>
                        <p>{{ candidat.city }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>LinkedIn</p>
                        <p>{{ candidat.linkedIn }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Github</p>
                        <p>{{ candidat.github }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Peut Postuler ?</p>
                        <p>{{ candidat.canPostulate ? 'Yes' : 'No' }}</p>
                    </div>

                </div>
                <div class="card-body link">
                    <a href="{{ path('admin_app_candidat_index') }}"
                       class="btn btn-primary">Retour</a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
