<div id="certificationPanel" class="showCard">
    <div class="card">
        {% if not is_granted('ROLE_CONSULTANT') %}
            <div class="cardIcons">
                <a href="{{ path('app_certification_new') }}"><i class="bi bi-plus-lg"></i></a>
            </div>
        {% endif %}
        <div class="card-body">
            <h3 class="card-title text-center">Mes Certifications</h3>

            {% for certification in certifications %}
                    <div class="card mb-4">
                        {% if not is_granted('ROLE_CONSULTANT') %}
                            <div class="cardIcons">
                                <a href="{{ path('app_certification_edit', {id: certification.id}) }}"><i
                                        class="bi bi-pencil-square"></i></a>
                                {{ include('certification/_delete_form.html.twig') }}
                            </div>
                        {% endif %}
                        <div class="card-header">
                            <h5 class="card-title">{{ certification.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Obtention : {{ certification.year ? certification.year|date('Y-m-d') : '' }}
                            </h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Lien : </strong> {{ certification.link }}</li>
                            <li class="list-group-item"><strong>Description : </strong> {{ certification.description }}</li>
                        </ul>
                    </div>
            {% endfor %}
            {% if not is_granted('ROLE_CONSULTANT') %}
                <div class="link buttons">
                    <a href="{{ path('app_certification_index') }}" class="btn btn-primary">Consulter</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
