<div id="formationPanel" class="showCard">
    <div class="card">
        {% if not is_granted('ROLE_CONSULTANT') %}
            <div class="cardIcons">
                <a href="{{ path('app_formation_new') }}"><i class="bi bi-plus-lg"></i></a>
            </div>
        {% endif %}

        <div class="card-body">
            <h3 class="card-title text-center">Mes Formations</h3>

            {% for experience in experiences %}
                {% if experience.isFormation %}
                    <div class="card mb-4">
                        {% if not is_granted('ROLE_CONSULTANT') %}
                            <div class="cardIcons">
                                <a href="{{ path('app_formation_edit', {id: experience.id}) }}"><i
                                        class="bi bi-pencil-square"></i></a>
                                <a href="{{ path('app_formation_show', {id: experience.id}) }}"><i
                                        class="bi bi-eye"></i></a>
                            </div>
                        {% endif %}
                        <div class="card-header">
                            <h5 class="card-title">{{ experience.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Du {{ experience.beginning ? experience.beginning|date('Y-m-d') : '' }}
                                au {{ experience.end ? experience.end|date('Y-m-d') : '' }}
                            </h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Entreprise :</strong> {{ experience.organism }}</li>
                            <li class="list-group-item"><strong>Lieu : </strong> {{ experience.location }}</li>
                            <li class="list-group-item"><strong>Description : </strong> {{ experience.description }}</li>
                            <li class="list-group-item"><strong>Diplôme : </strong> {{ experience.diploma }}</li>
                        </ul>
                    </div>

                {% endif %}

            {% endfor %}
            {% if not is_granted('ROLE_CONSULTANT') %}
                    <div class="link buttons">
                        <a href="{{ path('app_formation_index') }}" class="btn btn-primary">Consulter</a>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
