{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}

    <h1>Profil de {{ user.firstname }}  {{ user.lastname }}</h1>

    <h2>Information du compte</h2>

    {{ include('user/_overview.html.twig') }}

    <h2>Informations personnelles</h2>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ candidat.id }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ candidat.age }}</td>
        </tr>
        <tr>
            <th>LinkedIn</th>
            <td>{{ candidat.linkedIn }}</td>
        </tr>
        <tr>
            <th>Github</th>
            <td>{{ candidat.github }}</td>
        </tr>
        <tr>
            <th>ZipCode</th>
            <td>{{ candidat.zipCode }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ candidat.address }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ candidat.city }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ candidat.description }}</td>
        </tr>
        <tr>
            <th>CanPostulate</th>
            <td>{{ candidat.canPostulate ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_experience_index') }}">Mes expériences et formations</a>

    <br>

    <a href="{{ path('app_candidat_complete') }}">Compléter mon profil</a>

    {{ include('candidat/_delete_form.html.twig') }}

{% endblock %}
