<div class="company card mb-5">
    <div class="card-body">
        <h3 class="card-title">{{ company.name }}</h3>
        <p class="companyInfos card-text">{{ company.information }}</p>
        {% if is_granted("ROLE_ADMIN") %}
            {{ include('admin/company/_delete_form.html.twig') }}
        {% endif %}
    </div>
    <div class="list-group list-group-flush">
        <div class="list-group-item">
            <p>Logo</p>
            <p>
                <img style="height: 100px" src="{{ vich_uploader_asset(company) }}"
                     alt="Logo de {{ company.name }}">
            </p>
        </div>
        {% if is_granted("ROLE_ADMIN") %}
            <div class="list-group-item">
                <p>Nom du contact</p>
                <p>{{ company.contactName }}</p>
            </div>
            <div class="list-group-item">
                <p>Téléphone</p>
                <p>{{ company.phoneNumber }}</p>
            </div>
            <div class="list-group-item">
                <p>Nom du contact</p>
                <p>{{ company.contactName }}</p>
            </div>
            <div class="list-group-item">
                <p>Consultant Associé</p>
                <p>{{ company.externaticConsultant.user.firstName }} {{ company.externaticConsultant.user.lastName }}</p>
            </div>

        {% endif %}

        <div class="list-group-item">
            <p>Siret</p>
            <p>{{ company.siret }}</p>
        </div>
        <div class="list-group-item">
            <p>Adresse</p>
            <p>{{ company.address }}</p>
        </div>
        <div class="list-group-item">
            <p>Code Postal</p>
            <p>{{ company.zipCode }}</p>
        </div>
        <div class="list-group-item">
            <p>Ville</p>
            <p>{{ company.city }}</p>
        </div>
        <div class="list-group-item">
            <p>Taille</p>
            <p>{{ company.size }} salariés</p>
        </div>

    </div>
    <div class="card-body link d-flex flex-column">
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('admin_app_company_index') }}"
               class="btn btn-primary">Retour à la liste</a>
        {% else %}
            <a href="{{ path('app_company_show', {id: company.id}) }}"
               class="btn btn-primary">Candidature Spontanée</a>
            <a href="{{ path('annonce_show_by_company', {id: company.id}) }}"
               class="btn btn-primary mt-2">Voir les annonces</a>

            <a href="{{ path('app_company_add_favorite', {id: company.id}) }}"
               class="btn btn-primary fav-icon mt-2 fav-company">
                <span>{{ app.user.candidat.isCompanyFavorite(company) ? 'Retirer l\'entreprise des favoris' : 'Mettre l\'entreprise en favoris' }}</span>
                <i class="bi {{ app.user.candidat.isCompanyFavorite(company) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
            </a>
        {% endif %}
    </div>
</div>
