{% extends 'base.html.twig' %}



{% block title %}Vous discutez avec{% endblock %}
{% block body %}
    <main class="messageConversation container">
        <h1>Echange relatifs à <span class="text-primary">{{ recruitmentProcess.annonce.title ?: recruitmentProcess.company.name}} </span></h1>

        <div  class="allconv d-flex justify-content-around ">
            <div class="col-5 response" data-controller="messageScroll" id="newMessage">
                {% for message in messages %}
                    <article class="col-6 rounded rounded-3  border border-1 border-primary w-25">{{ message.content|raw }}</article>
                {% endfor %}
            </div>

            <div class="formconvo col-5">
                {{ form_start(form) }}
                {{ form_widget(form.content) }}
                <button class="btn" type="submit"><i class="bi bi-chat-text-fill"> Envoyer </i></button>
                {{ form_end(form) }}
            </div>
        </div>

    </main>
{%  endblock %}
