{% extends 'base.html.twig' %}



{% block title %}Vous discutez avec
    {% if app.user != recruitmentProcess.candidat.user %}
        {{ recruitmentProcess.candidat.user.lastName }}
    {% else %}
        {{ recruitmentProcess.company.externaticConsultant.user.lastName ?: recruitmentProcess.annonce.author.user.lastName }}
    {% endif %}
{% endblock %}

{% block body %}
    <main class="messageConversation messagerie container" {{ stimulus_controller('symfony/ux-swup/swup', {
        containers: ['#showMessage', "#pageSelectorConv"]
    }) }}>
        <h1 class="text-center mb-3 mt-3">Echange relatifs à
            <span class="text-primary">{{ recruitmentProcess.annonce.title ?: recruitmentProcess.company.name }} </span>
            <span> avec </span>
            <span class="text-primary"> {{ recruitmentProcess.candidat.user.lastName|upper }} {{ recruitmentProcess.candidat.user.firstname|capitalize }}</span>
        </h1>
        {{ app.request.uri != app.request.headers.get('referer') ?
        ("<a class='btn btn-primary' href='" ~ app.request.headers.get('referer') ~ "' title='retour à la page précédente'><i class='me-1 bi bi-arrow-return-left'></i>Retour</a>")|raw
        : "" }}
        <div class="Conversation d-flex justify-content-around">
            <section class="conversationList d-none d-lg-block col-md-5">
                <div class="table-responsive-md">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="row">Expediteur</th>
                                <th scope="row">Intitulé de l'annonce</th>
                                <th scope="row">Contenu</th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                            </tr>
                        </thead>

                        <tbody id='showMessage' data-controller="inbox">
                        {% for message in receivedMessages %}
                            {% include('_include/_messageHeaderConv.html.twig') %}
                        {% endfor %}
                    </table>
                </div>
                <div id="pageSelectorConv"
                     class="container d-flex justify-content-center">{{ knp_pagination_render(receivedMessages) }}</div>
            </section>

            <section class="allconv col-lg-5 d-flex justify-content-start flex-column" {{ stimulus_controller('message_scroll') }}>
                <div>
                    {{ component('conversation', {
                        recruitmentProcess: recruitmentProcess
                    }) }}
                </div>
                <div class="formconvo col-12">
                    {{ form_start(form, {
                        'attr': {'data-message-scroll-target': 'formNewMessage'}
                    }) }}
                    {{ form_widget(form.content) }}
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-chat-text-fill"></i> Envoyer
                    </button>
                    {{ form_end(form) }}
                </div>
            </section>

        </div>
    </main>
{% endblock %}
