<div {{ attributes }}>
    {% if this.isSubmitted %}
        <div class="alert alert-success" role="alert">
            Nouvelle certification ajoutée
        </div>
    {% endif %}
    <div {{ stimulus_controller('emptyCertificationForm') }}></div>
    <div {{ stimulus_controller('global') }}></div>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action',
            'data-action-name': 'prevent|save',
            'id': 'certificationForm'
        }
    }) }}

    {{ form_row(form.title, {
        label: 'Nom de la certification',
        attr: {
            placeholder: 'Nom de la certification'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}

    {{ form_row(form.year, {
        label: 'Année d\'obtention',
        attr: {
            placeholder: '01/01/1990'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}

    {{ form_row(form.link, {
        label: 'Lien de l\'organisme',
        attr: {
            placeholder: 'http://'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}

    {{ form_row(form.description, {
        label: 'Description de la certification',
        attr: {
            placeholder: 'Notions abordées...'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}

    <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

    {{ form_end(form) }}


</div>
