<div {{ attributes }}>

    {% if this.isSubmitted %}
        <div class="alert alert-success" role="alert">
            Nouvelle formation ajoutée
        </div>
    {% endif %}
    <div {{ stimulus_controller('emptyFormationForm') }}></div>
    <div {{ stimulus_controller('global') }}></div>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action',
            'data-action-name': 'prevent|save',
            'id': 'formationForm'
        }
    }) }}

    {{ form_row(form.title, {
        label: 'Nom de la formation',
        attr: {
            placeholder: 'Nom de la formation'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}

    {{ form_row(form.beginning, {
        label: 'Date de début',
        attr: {
            placeholder: '...'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}


    {{ form_row(form.end, {
        label: 'Date de fin',
        attr: {
            placeholder: '...'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}

    {{ form_row(form.organism, {
        label: 'Nom de l\'organisme de formation',
        attr: {
            placeholder: 'numéro, rue etc...'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}

    {{ form_row(form.location, {
        label: 'Adresse',
        attr: {
            placeholder: 'Adresse, ville...'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}

    {{ form_row(form.description, {
        label: 'Description de la formation',
        attr: {
            placeholder: 'Description'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}


    {{ form_row(form.diploma, {
        label: 'Nom du diplôme obtenu',
        attr: {
            placeholder: 'Diplôme de ...'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}




    <button type="submit" class="btn btn-primary">{{ button_label|default('Valider') }}</button>
    {{ form_end(form) }}


</div>
