<div {{ attributes }}>
    {% if this.isSubmitted %}
        <div class="alert alert-success" role="alert">
            Nouvelle langue ajouté
        </div>
    {% endif %}
    <div {{ stimulus_controller('emptyLanguageForm') }}></div>
    <div {{ stimulus_controller('global') }}></div>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action',
            'data-action-name': 'prevent|save',
            'id': 'languageForm'
        }
    }) }}

    {{ form_row(form.language, {
        label: 'Langue',
        attr: {
            placeholder: 'Nom de la certification'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}

    {{ form_row(form.level, {
        label: 'Niveau',
        attr: {
            placeholder: 'A1'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}
    <button class="btn">{{ button_label|default('Ajouter') }}</button>
    {{ form_end(form) }}
</div>
