<div{{ attributes }}>
    {% if this.isSubmitted %}
        <div class="alert alert-success" role="alert">
            Modification(s) effectuée(s)
        </div>
    {% endif %}
    <div {{ stimulus_controller('global') }}></div>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action',
            'data-action-name': 'prevent|save'
        }
    }) }}


    {{ form_row(form.email, {
        label: 'Email',
        attr: {
            placeholder: 'john@doe.fr',
            'data-model': 'norender|max'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}

    {{ form_row(form.firstname, {
        label: 'Prénom',
        attr: {
            placeholder: 'John',
            'data-model': 'norender|max'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}


    {{ form_row(form.lastName, {
        label: 'Nom',
        attr: {
            placeholder: 'Doe',
            'data-model': 'norender|max'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}

    {{ form_row(form.phone, {
        label: 'Numéro de téléphone',
        attr: {
            placeholder: '+33...',
            'data-model': 'norender|max'
        },
        row_attr: {
            class: 'form-floating mb-3'
        }
    }) }}


    <button type="submit" class="btn btn-primary">{{ button_label|default('Mettre à jour') }}</button>
    {{ form_end(form) }}

</div>
