{% extends 'base.html.twig' %}

{% block title %}Experience{% endblock %}

{% block body %}

    <main class="container-md">

        <h1 class="text-center mt-3">Mes Expériences</h1>

        <div class="carousel">
            <div class="card carousel-item active">
                <div class="card-body">
                    <h2 class="card-title">{{ experience.title }}</h2>
                    <p class="card-text">{{ experience.description }}</p>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <p>Début</p>
                        <p>{{ experience.beginning ? experience.beginning|date('Y-m-d') : '' }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Fin</p>
                        <p>{{ experience.beginning ? experience.end|date('Y-m-d') : '' }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Entreprise</p>
                        <p>{{ experience.organism }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Lieu</p>
                        <p>{{ experience.location }}</p>
                    </div>
                    {% if experience.isFormation %}
                        <div class="list-group-item">
                            <p>Diplôme</p>
                            <p>{{ experience.diploma }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <a href="{{ path('app_candidat_account') }}" class="card-link">Editer</a>
                </div>
            </div>
        </div>

        <a href="{{ path('app_experience_next', {id: experience.id}) }}" class="carousel-control-next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <a href="{{ path('app_experience_previous', {id: experience.id}) }}" class="carousel-control-prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

    </main>




    <a href="{{ path('app_experience_index') }}">back to list</a>

    <a href="{{ path('app_experience_edit', {'id': experience.id}) }}">edit</a>

    {{ include('experience/_delete_form.html.twig') }}
{% endblock %}
