{% extends 'base.html.twig' %}

{% block title %}Experience{% endblock %}

{% block body %}

    <main class="container-md mb-5">

        <h1 class="text-center mt-3">{{ experience.isFormation ? "Mes Formations" : "Mes expériences" }}</h1>

        <div class="carou showCard">

            <a class="arrowLink" href="{{ experience.isFormation ? path('app_formation_previous', {id: experience.id}) : path('app_experience_previous', {id: experience.id}) }}">
                <span class="arrow" aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
            </a>

            <div class="card">
                <div class="cardIcons">
                    <a href="{{ path('app_experience_edit', {id: experience.id}) }}"><i
                            class="bi bi-pencil-square"></i></a>
                    {{ include('experience/_delete_form.html.twig') }}
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{ experience.title }}</h2>
                    <p class="card-text">{{ experience.description }}</p>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <p>Début</p>
                        <p>{{ experience.beginning ? experience.beginning|date('Y-m-d') : '' }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Fin</p>
                        <p>{{ experience.beginning ? experience.end|date('Y-m-d') : '' }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Entreprise</p>
                        <p>{{ experience.organism }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Lieu</p>
                        <p>{{ experience.location }}</p>
                    </div>
                    {% if experience.isFormation %}
                        <div class="list-group-item">
                            <p>Diplôme</p>
                            <p>{{ experience.diploma }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body link d-flex justify-content-center">
                    <a class="btn btn-primary" href="{{ path('app_candidat_profile') }}{{ experience.isFormation ? "#formationPanel" : "#experiencePanel" }}">Retour au profil</a>
                </div>
            </div>

            <a class="arrowLink" href="{{ experience.isFormation ? path('app_formation_next', {id: experience.id}) : path('app_experience_next', {id: experience.id}) }}">
                <span class="arrow" aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
            </a>

        </div>

    </main>


{% endblock %}
