{% extends 'base.html.twig' %}

{% block title %}Experience{% endblock %}

{% block body %}

    <main class="container-md mb-5">

        <h1 class="text-center mt-3">Mes Expériences</h1>

        <div class="carou showCard">

            <a href="{{ path('app_experience_previous', {id: experience.id}) }}">
                <span class="arrow" aria-hidden="true"><i
                        class="bi bi-arrow-left"></i></span>
            </a>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ experience.title }}</h2>
                    <p class="card-text">{{ experience.description }}</p>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <p>Début</p>
                        <p>{{ experience.beginning ? experience.beginning|date('Y-m-d') : '' }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Fin</p>
                        <p>{{ experience.beginning ? experience.end|date('Y-m-d') : '' }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Entreprise</p>
                        <p>{{ experience.organism }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Lieu</p>
                        <p>{{ experience.location }}</p>
                    </div>
                    {% if experience.isFormation %}
                        <div class="list-group-item">
                            <p>Diplôme</p>
                            <p>{{ experience.diploma }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body link">
                    <a class="btn btn-primary" href="{{ path('app_candidat_account') }}">Editer</a>
                </div>
            </div>

            <a href="{{ path('app_experience_previous', {id: experience.id}) }}">
                <span class="arrow" aria-hidden="true"><i
                        class="bi bi-arrow-right"></i></span>
            </a>

        </div>

    </main>




    <a href="{{ path('app_experience_index') }}">back to list</a>

    <a href="{{ path('app_experience_edit', {'id': experience.id}) }}">edit</a>

    {{ include('experience/_delete_form.html.twig') }}
{% endblock %}
