
<table class="table">
    <tbody>
    <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <th>Firstname</th>
        <td>{{ user.firstname }}</td>
    </tr>
    <tr>
        <th>Lastname</th>
        <td>{{ user.lastname }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ user.phone }}</td>
    </tr>
    <tr>
        <th>Compte Vérifié</th>
        <td>{{ user.isVerfied ? 'Yes' : 'No' }}</td>
    </tr>
    </tbody>
</table>
