{% extends 'base.html.twig' %}

{% block title %}SoftSkill index{% endblock %}

{% block body %}
    <h1>SoftSkill index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soft_skill in soft_skills %}
            <tr>
                <td>{{ soft_skill.id }}</td>
                <td>{{ soft_skill.name }}</td>
                <td>
                    <a href="{{ path('app_soft_skill_show', {'id': soft_skill.id}) }}">show</a>
                    <a href="{{ path('app_soft_skill_edit', {'id': soft_skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_soft_skill_new') }}">Ajouter un nouveau Soft Skill</a>

    <h1>HardSkill index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for hard_skill in hard_skills %}
            <tr>
                <td>{{ hard_skill.id }}</td>
                <td>{{ hard_skill.name }}</td>
                <td>
                    <a href="{{ path('app_hard_skill_show', {'id': hard_skill.id}) }}">show</a>
                    <a href="{{ path('app_hard_skill_edit', {'id': hard_skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hard_skill_new') }}">Ajouter un nouveau Hard Skill</a>
    <br>
    <a href="{{ path('app_candidat_profile') }}">Retour au profil</a>
{% endblock %}
